if debug
if debug
  div#debug
    block debug_links
      a(href='index.html') Main
      a(href='about.html') about
      a(href='advYachta.html') advYachta
      a(href='allCover.html') allCover
      a(href='allNews.html') allNews
      a(href='contacts.html') contacts
      a(href='subscribe.html') subscribe
      a(href='pravova.html') pravova
      a(href='spread.html') spread
      a(href='reklam.html') reklam
      a(href='saleCharter.html') saleCharter
      a(href='searchResult.html') searchResult
      a(href='article.html') article
      a(href='profile.html') profile
      a(href='vacancy.html') vacancy
      a(href='enter.html') enter
      a(href='regist.html') regist
      a(href='remember.html') remember
