footer#footer.footer
  .container-fluid
    .row
      .col-xs-12.col-sm-6.col-md-3.col-md-offset-1.footer__text
        a(href="#"): img(src="img/logo_foot.png", alt="")
        p
          |В журнале Yachts review в рубрике "sales&charter/продажи и чартер" возможно размещение объявлений о продаже/чартере яхт и катеров всех типов и размеров, автомобилей, самолетов/вертолетов, недвижимости, яхтенных стояночных мест.
      .col-xs-6.col-sm-3.col-md-2.footer__links
        h6.heading Меню:
        ul
          li: a(href="#") О журнале
          li: a(href="#") Архив номеров
          li: a(href="#") Подписка
          li: a(href="#") Распостранение
          li: a(href="#") Рекламодателям
          li: a(href="#") Контакты
      .col-xs-6.col-sm-3.col-md-2.footer__socials
        h6.heading Мы в соц. сетях:
        ul
          li: a(href="#")
            i.icon.icon_fb
            span Facebook
          li: a(href="#")
            i.icon.icon_insta
            span Instagram
          li: a(href="#")
            i.icon.icon_twit
            span Twitter
      .col-xs-12.col-md-3.footer__address
        h6.heading Мы в соц. сетях:
        address
          |65082, Украина, г. Одесса,<br/>
          |ул. Софиевская, 23, <br/>
          |<b>Тел.</b>:  +380 48 777 36 10
        h6.heading Адрес Представительства:
        address
          |01004, Украина, г. Киев, <br/>
          |ул. Бассейная, 4, ТЦ "Мандарин Плаза", 5 этаж<br/>
          |<b>Тел.</b>: +380 44 494 15 89<br/>
          |<b>E-mail</b>: info@yachtsreview.com
      .col-xs-12.footer__copy
        p © 2006-2017 "Yachts Review". Все права защищены.
