extends layouts/main.pug

//- Pass your variables through this block.
append variables
//-
  - title = 'index';
  - debug = true;

//- Debug links. Add some.
append debug_links
  //- a(href='http://google.com') google, son, for example

//- use block/append/prepend 'scripts' to override/add scripts

block header
  include ../pug/partials/header.pug
block body
  main.content
    section.container-fluid
      .row
        .col-xs-12.fix-bread
          ol.breadcrumb
            li
              a(href='#') Главная
            li.active Все статьи
        .col-xs-12.col-md-9
          h2.heading.heading-aside Все статьи
          .row
            .col-xs-12
              .info-panel
                p
                  |Рубрика «все статьи» — здесь мы расскажем вам о самых роскошных яхтах которые были выпущены когда либо. Интерсные статьи, красивые фотографии как интерьеров так и внешний дизайн лодок.
            .col-xs-12
              .news-frame
                .news-frame__img
                  img(src="img/uploads/1.jpg", alt="")
                .news-frame__data
                  .news-frame__tags
                    span.new Выпуск №39
                    span На борту
                  .news-frame__title
                    span.underline-w
                      |Заглавие и название статьи
                  .news-frame__text
                    p
                      |Текстовое описание статьи крпуным шрифтом и читаемым черным шрифтом. Текстовое описание статьи крпуным шрифтом и читаемым черным шрифтом.
                  .news-frame__btn
                    a(href="#").btn.btn_blue.locked
                      span Доступно только <span class="underline-w">по подписке</span>
            .col-xs-12
              .news-frame
                .news-frame__img
                  img(src="img/uploads/1.jpg", alt="")
                .news-frame__data
                  .news-frame__tags
                    span.new Выпуск №39
                    span На борту
                  .news-frame__title
                    span.underline-w
                      |Заглавие и название статьи
                  .news-frame__text
                    p
                      |Текстовое описание статьи крпуным шрифтом и читаемым черным шрифтом. Текстовое описание статьи крпуным шрифтом и читаемым черным шрифтом.
                  .news-frame__btn
                    a(href="#").btn.btn_blue.locked
                      span Доступно только <span class="underline-w">по подписке</span>
            .col-xs-12
              .news-frame
                .news-frame__img
                  img(src="img/uploads/1.jpg", alt="")
                .news-frame__data
                  .news-frame__tags
                    span.new Выпуск №39
                    span На борту
                  .news-frame__title
                    span.underline-w
                      |Заглавие и название статьи
                  .news-frame__text
                    p
                      |Текстовое описание статьи крпуным шрифтом и читаемым черным шрифтом. Текстовое описание статьи крпуным шрифтом и читаемым черным шрифтом.
                  .news-frame__btn
                    a(href="#").btn.btn_blue.locked
                      span Доступно только <span class="underline-w">по подписке</span>

            .pagination-block.text-center
              ul.pagination
                li
                  a(href='#') 1
                li
                  a(href='#') 2
                li
                  a(href='#') 3
                li.active
                  a(href='#') 4
                li
                  a(href='#') 5
                li
                  a(href='#') ...
                li
                  a(href='#') 182
              .pagination-block__controls
                a(href="#").pagination-block__prev
                  |←
                  span Назад
                a(href="#").pagination-block__next
                  span Далее
                  |→
        aside.col-xs-12.col-md-3.sidebar-base
          .row
            .col-xs-12.col-sm-4.col-md-12.od-1
              .sidebar-base__banner
                img(src="img/banner_mid.jpg", alt="")
            .col-xs-12.col-sm-4.col-md-12
              .subscribe-mail
                form(action="", method="post")
                  p.heading ПодпиШитесь
                  p.subheading Будьте в курсе актуальных новостей!
                  input(type="email", name="name", value="" placeholder="Ваш email")
                  button(type="submit", name="button").btn.btn_red Подписатся
            .col-xs-12.col-sm-4.col-md-12.od-1
              .sidebar-base__banner
                img(src="img/banner_mid.jpg", alt="")
            .col-xs-12.col-sm-4.col-md-12.od-3
              .sidebar-base__socials
                p.heading Мы в соц. сетях
                .socials-list
                  a(href="#").socials-list__item
                    i.fa.fa-facebook
                  a(href="#").socials-list__item
                    i.fa.fa-twitter
                  a(href="#").socials-list__item
                    i.fa.fa-google-plus
                  a(href="#").socials-list__item
                    i.fa.fa-behance
                  a(href="#").socials-list__item
                    i.fa.fa-instagram
              .sidebar-base__fb
                img(src="img/fb_widget.jpg", alt="")

            .col-xs-12.col-sm-4.col-md-12.od-1
              .sidebar-base__banner
                img(src="img/banner_mid.jpg", alt="")
            .col-xs-12.col-sm-4.col-md-12
              .prod-block-s
                .prod-block-s__heading ПРОДАЖА ЯХТ
                .prod-block-s__img
                  img(src="img/category-pic.jpg", alt="")
                .prod-block-s__data
                  a(href="#").underline-w Pershing 115 `2007
                  table
                    tr
                      td: span Длина, м.
                      td: span 17
                    tr
                      td: span Двигатель
                      td: span Volvo 575 л.с.
                  .prod-block-s__price
                    span 175 000$
                a(href="#").all-ads.underline-w Все предложения
                .prod-block-s__sponsor
                  img(src="img/sponsor_bg.jpg", alt="")
                  .sponsor-brand
                    span Спонсор рубрики
                    img(src="img/sponsor-logo.png", alt="")







    section.container.index-subscribe
      h2.heading Подписаться на журнал
      .row
        .col-xs-12.col-md-6.col-md-offset-3
          .magazine-block
            .magazine-block__img
              img(src="img/mag-sign.jpg", alt="")
            .magazine-block__data
              p.heading Text
              table
                tr
                  td 1 номер
                  td 120.00 гривен
                tr
                  td 1 номер
                  td 120.00 гривен
                tr
                  td 1 номер
                  td 120.00 гривен
                tr
                  td 10 номеров
                  td 820.00 гривен
              button(type="button", name="button").btn.btn_red подписаться

block footer
  include ../pug/partials/footer.pug
